// ==========================================================================
// IMPORT FONTS
// ==========================================================================

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;

  src: url('../../fonts/OpenSans-Regular-webfont.eot');
  src: url('../../fonts/OpenSans-Regular-webfont.woff') format('woff');
}