<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div id="app">

  <select id="select" name="foo" class="foo2">
    <option value="valeur1">Valeur 1</option>
    <option value="valeur2" selected>Valeur 2</option>
    <option value="valeur3">Valeur 3</option>
    <option value="valeur4">Valeur 4</option>
  </select>

</div>
  <!--<div class="foo"></div>
  <div class="foo"></div>

  <select id="select" name="foo" class="foo2">
    <option value="valeur1">Valeur 1</option>
    <option value="valeur2" selected>Valeur 2</option>
    <option value="valeur3">Valeur 3</option>
    <option value="valeur4">Valeur 4</option>
  </select>

    <select id="select" name="foo" class="foo2">
    <option value="valeur1">Valeur 1</option>
    <option value="valeur2" selected>Valeur 2</option>
    <option value="valeur3">Valeur 3</option>
    <option value="valeur4">Valeur 4</option>
  </select> -->

    <div id="output"></div>
</body>
</html>
